.header{
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  width: 100%;
  height: 80px;
  /*position: fixed;*/
  /*border: 1px solid black;*/
}

#title {
  padding-left: 8px;
}

#logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: MediumAquamarine;
    flex-grow: 1;
    border: 1px solid black;
}

.hr {
  color: #000000;
  background-color: #000000;
  height: 1px;
  /*position: fixed;*/
}

.list span {
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  padding-right: 40px;
}

.content {
  display: flex;
  margin-top: 45px;
  border: 1px solid black;
  width: 1232px;
}

.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.image-content {
  border: 1px solid black;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  
}

.image-content span {
  color: white;
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;

}
.narrative {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.fall-cancelled-image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.fall-cancelled-image-content span {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.pop-culture-image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.pop-culture-image-content span {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.cat-ceo-image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.cat-ceo-image-content span {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.column.large {
  display: flex;
  width: 630px;

}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}
